services:
  db:
    image: postgres:17.4
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: dishes
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 9999:5432
volumes:
  pgdata:
