<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Chefs</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">WEB PROGRAMMING LAB</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarsExampleDefault">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
</header>

<div>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">All Chefs</h1>
            <p th:if="${error != null}" class="text-danger font-weight-bold" th:text="${error}"></p>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${chefs.size() > 0}">
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Bio</th>
<!--                            <th>Dishes</th>-->
                            <th>Gender</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="chef : ${chefs}">
                            <td th:text="${chef.firstName}"></td>
                            <td th:text="${chef.lastName}"></td>
                            <td th:text="${chef.bio}"></td>
<!--                            <td>-->
<!--                                <span th:each="dish : ${chef.dishes}" >-->
<!--                                    <span th:text="${dish.name}"></span><br/>-->
<!--                                </span><br/>-->
<!--                            </td>-->
                            <td th:text="${chef.gender}"></td>

                            <td>

                                <a th:href="@{'/chefs/chef-form/{id}' (id=${chef.id})}"
                                   class="btn btn-sm btn-info ml-2">
                                    Edit
                                </a>

                                <a th:href="@{'/chefs/dishes/' + ${chef.id}}"
                                   class="btn btn-sm btn-info ml-2">
                                    View Dishes
                                </a>

                                <form th:action="@{'/chefs/delete/{id}' (id=${chef.id})}" method="post" style="display:inline-block">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        Delete
                                    </button>
                                </form>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col mb-3">
                <a href="/chefs/chef-form" class="btn btn-dark btn-block">
                    Add New Chef
                </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>
