<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Restaurant Chefs - Welcome to Our Restaurant</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to Our Restaurant</h1>
</header>
<main>
    <h2>Choose a chef:</h2>
    <form action="/dish" method="POST">
        <!-- Display radio buttons for each chef, the value should be the chef id
             and the displayed text should be: Name: <firstName> <lastName>, Bio: <bio> -->
        <input th:each="chef: ${chefs}" type="radio" name="chefId" th:value="${chef.id}"
        th:utext="'Name: ' + ${chef.firstName} + ' '+ ${chef.lastName} + ', Bio: ' + ${chef.bio} + '<br/>' ">
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>